.RunEntryListItem-btn {
  width: 20px;
  height: 20px;
  font-size: x-small;
  padding: 0px 0px;
  float: right;
}

.RunEntryListItem-container {
  border: 2px solid #008cba;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px 10px;
  display: block;
  margin: 5px 5px;
  text-align: left;
}

.RunEntryListItem-item {
  display: inline-flex;
  margin: 2px 2px;
}

.RunEntryListItem-label {
  color: #008cba;
  margin-right: 2px;
  font-weight: bold;
}

.RunEntryListItem-EditContainer {
  font-color: white;
  color: white;
}
